

body {
    margin: 0;
    font-family: 'Dr Sugiyama', cursive;
    font-family: 'Roboto', sans-serif;
}

*{
box-sizing: border-box;
}



.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-right:10.3%;
    padding-left:10.3% ;
}

.nav{
    margin-right: 20%;
}

.nav_item a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #883100;
    padding-left: 68px;
    text-decoration: none;

}

.social img:nth-child(2){
    padding-left:33px;
    padding-right: 33px;
}

.lov_bag img:nth-child(2){
    padding-left:33px;
}

.header{
    padding-bottom: 160px;
    width: 100%;
    height: 100%;
}
.main_title{
    font-weight: 400;
    font-size: 145px;
    line-height: 212px;
    letter-spacing: -0.015em;
    color: #883100;
    font-family: 'Dr Sugiyama', cursive;
    margin-bottom: 13px;
}

.main_desc{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #883100;
    font-family: 'Roboto';
    opacity: 0.82;
    font-style: italic;
    }

.main_sale {

    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #883100;
    opacity: 0.65;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Roboto';
    font-weight: 300;
}

.main_btn {
    width: 274px;
    height: 55px;
    color: white;
    background-color: #C0886A;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
}

.header_main{
    padding-left: 83px;
    margin-top: 195px;
    display: flex;
    flex-direction: row;
}

.header::after {
    color: black;
    height:600PX;
    width: 450PX;
    }

.color{
    background: linear-gradient(to right,#F0D2BF 66%, #C0886A 34%);
}

.descript{
    padding-left: 54px;
}

.img_main{
    position: absolute;
    top: 25%;
    right: 11%;
    width: 60%;
}

.header_main{
}

.main_text{
z-index: 99999;}

.about_us{
    margin-left: 11%;
    margin-bottom: 76px;
}
.wrapper   {
    width: 100%;
    background-color: #F0D2BF;

}
.about_us_text{
    transform: translateX(-10%);
    background-color:#F0D2BF;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #883100;
    max-width: 847px;
    font-family: 'Roboto';
    padding-left: 203px;
    padding-top: 88px;
    padding-bottom: 88px;
}
/* .about_us_text_WRAPPER{
    background-color: #F0D2BF;
    display: flex;
    align-content: center;
    justify-content: center;
} */
.about_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about_us_img{
    width: 30%;
    z-index:999;
}
.about_us_img img{
    width: 400px;
}

.about_is_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    color: #883100;
    text-align: center;
    margin-right: 11%;
    margin-top: 80px;
    margin-bottom: 70px;
}

.shop{
    padding-right: 3.5%;
    padding-left: 3.5%;
    background-color: #F0D2BF;
    padding-bottom: 71px;
}
.shop_name {
    padding-top: 81px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    color: #883100;
    margin-bottom: 71px;
}


.shop_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 71px;
}

.shop_item {
    display: flex;
    flex-direction: column;
}

.shop_but {
    padding-top: 0;
    background-color:#C0886A;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
}

.shop_font {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.shop_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0886A;
    width: 284px;
    height: 57px;
    border-radius: 33px;
    margin: 0 auto;
}

.choose {
    padding-right: 3.5%;
    padding-left: 3.5%;
    padding-bottom: 106px;
}

.choose_name {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    color: #883100;
    text-align: center;
    margin-top: 164px;
    margin-bottom: 75px;
}

.choose_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choose_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose_item img{
    margin-bottom: 81px;
    height: 127px;
    width: 127px;
}

.choose_item_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #883100;
    max-width: 207px;
    text-align: center;
}

.works_imgs {
    display: flex;
    flex-direction: row;
}
.works_rows {
    flex-wrap: wrap;
    display: flex;
    max-width: 858px;
}

.work_wrapper{
    background-color: #F0D2BF;
    justify-content: center;
    display: flex;
    padding-bottom: 113px;
}

.work_name{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    color: #883100;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 65px;
}

.footer_font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #883100;
}

.f_email{
    margin-bottom: 23px;
}


footer{
    background-color: #F8ECE9;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 106px;
    padding-bottom: 106px;
    align-items: center;
}

.footer_socail{
    margin-right: 18px;
    margin-left: 18px;
}
.footer_socail img{
    padding-left: 10px;
}

